@charset "utf-8";

body {
  background: black;
  body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
    }
}
/* 
header {
  height: 160px;
  background: url(Agar.io-header1.jpg) center/cover pink;
  margin: 0 0 32px;
}   */

header h1 {
  font-family: "Comic Sans MS";
  text-align: center;
  line-height: 1.5;
}

/* main {
  border-top: 6px solid rgb(135, 135, 12);
} */

h2 {
  text-align: center;
  color: white;
}

ul {
  list-style: none;
}

li {
  float: left;
  position: relative;
}

li img {
  border-radius: 50%;
  margin-top: 32px;
  margin-right: 32px;
  border: 1px solid gray;
  width: 128px;
  height: 128px;
}

li img:hover {
  opacity: .7;
}

li p {
  color: red;
}

.new_box{
  position: relative;
}

.new_icon:after{
  position: absolute;
  content: "NEW";
  top: 32px;
  left: -8px;
  background: #ff0000;
  color: #fff;
  padding: 6px;
}

